name: Check for changes in cache_padded.rs
on:
  schedule:
    - cron: "11 11 * * Mon"
jobs:
  check-cache-padded:
    runs-on: ubuntu-latest
    steps:
      - name: Clone Git repository
        uses: actions/checkout@v6
        with:
          submodules: true
      - name: Fetch newest stuff from crossbeam submodule
        working-directory: crossbeam
        run: |
          git fetch origin master
      - name: Check for changes in cache_padded.rs
        working-directory: crossbeam
        run: |
          git diff origin/master --exit-code -- crossbeam-utils/src/cache_padded.rs
